/*common start*/
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #f0f1f2;
    font-family: sans-serif;
}
/*common end*/
/*header start*/
header , footer {
    background-color: #121b2a;
    padding: 10px 0;
}
.wrapper {
    width: 90%;
    /*border: 1px solid green;*/
    overflow: hidden;
    margin: 0 auto;
}
.logo {
    float: left;
    width: 15%;
    /*border: 1px solid red;*/
}
.logo img {
    width: 100%;
}
.menu {
    float: right;
    width: 50%;
    /*border: 1px solid red;*/
}
.menu ul {
    float: right;
}
.menu ul li , .f_menu ul li {
    float: left;
    list-style: none;
}
.menu ul li a , .f_menu ul li a {
    text-decoration: none;
    color: #f0f1f2;
    font-size: 15px;
    padding: 5px 15px;
    display: block;
    transition: .5s;
}
.menu ul li:last-child a {
   padding-right: 0; 
}
.menu ul li a:hover , .f_menu ul li a:hover {
    color: #0175b8;
}
/*header end*/
/*banner start*/
.banner {
    background-color: #121b2a;
    background-image: url('images/banner.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {  
}
.b-content {
    margin-top: 200px;
    margin-bottom: 50px;
    width: 45%;
    border: 2px solid white;
}
.b-content p:first-child {
    font-size: 28px;
}
.b-content h1 {
    color: #0175b8;
    font-size: 35px;
}
.b-content p:nth-last-child(2) {
    font-size: 18px;
    line-height: 1.5;
}
.b-content button {
    border: none;
    padding: 10px 20px;
    color: #626262;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}
.b-content button span {
    background-color: #121b2a;
    padding: 4px 7px;
    color: white;
    border-radius: 50%;
    margin-left: 10px;
}
/*banner end*/
/*service start*/
.service {
    background-color: #121b2c;
    padding: 50px 0;
}
.wrapper {}
/*single start*/
.single {
    width: 26%;
    padding: 10px 20px;
    float: left;
    border-right: 1px solid white;
    margin-left: 5px;
}
.single:last-child {
    border-right: 0;
}
.title {
    overflow: hidden;
    margin-bottom: 3px;
}
.icon {
    width: 25%;
    float: left;
    display: block;
    /*order: 1px solid yellow;*/
}
.icon img {
    width: 100%;
}
.icon-content {
    width: 70%;
    float: left;
    margin-top: 25px;
    /*border: 1px solid yellow;*/
}
.icon-content h1 {
    font-size: 20px;
    font-weight: normal;
}
.icon-content h2, .sin_h2 {
    color: #0175b8;
    font-size: 23px;
    font-weight: normal;
}
.content {}
.content p {
    font-size: 15px;
    line-height: 1.4;
}
/*service end*/
/*contact start*/
.info {
    padding-top: 40px;
    background-color: #040811;
    overflow: hidden;
}
.contact {
    margin-right: 4%;
    padding-right: 0;
    width: 27%;
    min-height: 300px;
    float: left;
    /*border: 1px solid white;*/
}
.talk {
    margin-right: 4%;
    width: 27%;
    min-height: 300px;
    float: left;
    /*border: 1px solid goldenrod;*/
}
.talk_h1 {
    font-size: 23px;
    font-weight: normal;
}
#talkbubble {
    width: 27%;
    height: 5px;
    min-height: 250px;
    /*padding: 20px;*/
    background: #0c1019;
    position: relative;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    line-break: 0;
    border: 1px solid white;
  }
  #talkbubble:after {
    content: "";
    position: absolute;
    right: 20%;
    bottom: -35px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 59px solid transparent;
    border-top: 35px solid #0c1019;
  }
.customer {
    float: left;
}
.advertise {
    margin-right: 0%;
    float: left;
    width: 27%;
    min-height: 300px;
}
.wrap_ad {
    width: 100%;
    /*border: 1px solid red;*/
}
.images_ad {
    width: 58%;
    float: left;
    /*border: 1px solid green;*/
}
.images_ad img {
    width: 85%;
    display: block;
}
.ad_right {
    width: 40%;
    float: left;
    /*border: 1px solid white;*/
}
.ad_right h3 {
    line-height: 0;
}
.ad_right a {
    display: block;
}
.f_menu, .f_img {
    float: left;
    padding: 10px 0 10px;
    overflow: hidden;
}
.c_right {
    margin-left: 55px;
    margin-bottom: 40px;
}
.c_right p a {
    color: #f0f1f2;
    text-decoration: none;
    transition: .33s;
}
.c_right p a:hover {
    color: #0175b8;
}
.f_img {
    float: left;
}
.f_img_i , .f_img_ii {
    padding: 10px;
    float: left;
}

